@model WebClient.Models.Restaurant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantPopular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantPopular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantRating)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RestaurantId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
